.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.pokemon-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.pokemon-card .card-infos {
  margin-top: 8px;
}